*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
}
header{
position:relative;
top: 0px;
left: 0px;
padding: 20px;
width: 100%;
z-index: 1;
display: flex;
justify-content: space-between;
align-items: center;
transition: 0,5s;
}

.logo{
   /* color: #fff;*/
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}

.logo span{
    color: #fb911f;
}

.navbar{
    display: flex;
    position: relative;

}

.navbar li{
    list-style: none;
}

.navbar a{
    /*color:#fff;*/
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}

.btn-reserve{
    padding: 10px 20px;
    background: #fb911f;
    margin-top: -10px;
    text-transform: uppercase;
}

.btn-reserve:hover{
    background: #d87710;
    transition: ease-out;
}

header .navbar li a:hover{
    color: #fb911f;
    border-bottom: 2px solid;
}

.banniere{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./filbleu_bg_big.jpg);
    background-size: cover;
    background-attachment: scroll;
}

.banniere .contenu{
    max-width: 1200px;
    text-align: center;
    color: rgb(5, 5, 5);
}

.banniere .contenu h2{
    color: #fff;
    font-size: 3em;
    text-transform: capitalize;
    display: flex;
}

.contenu p:nth-child(2){
    color: #fff;
    font-size: 1.2em;
    font-weight: normal;
    
}

.btn1{
    font-size: 1em;
    color: #fff;
    background-color: #fb911f ;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
    justify-content: center;
}

.btn2{
    font-size: 1em;
    color: #fff;
    background-color: #fb911f ;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left: 10px;
}

.btn1:hover{
    letter-spacing: 4px;
}

.btn2:hover{
    letter-spacing: 4px;
}

.section{
    padding: 100px;

}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
    justify-content: center;
    align-items: center;
}

.row .col50 h2{
    margin-bottom: 20px;
}

.titre{
    color: rgb(14, 13, 13);
    font-size: 2em;
    font-weight: 700;
    text-transform: capitalize;
}

.titre span{
    color: #fb911f;
    font-size: 1.5em;
    font-weight: 700px;
}

.row .col50 img{
    height: 300px;
    width: 400px;
    position: relative;
}

.tete{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu{
    margin-top: -15px;
}

.menu .contenu{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu .contenu .box{
    width: 350px;
    margin: 20px;
    border: 10px solid #fff;
    box-shadow: 20px 15px 15px rgba(0, 0, 0.8, 0.8);
}

.menu .contenu .box .imbox {
    position: relative;
    width: 10%;
    height: 200px;
}

.menu .contenu .box .imbox .img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.menu .contenu .box .text {
    text-align: center;
    font-weight: 300px;
    color: #111;
}

.menu .contenu .box .text h3 {
    font-weight: 400;
}

.menu .autre .btn1{
    width: 300px;
    margin-left: 600px;
    text-align: center;
    color: #fff;
    background-color: #fb911f ;
    transition: 0.5s;
}

expert {
    margin-top:  -100px;
}

.expert .contenu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    text-align: justify;
}


.expert .contenu .box{
    position: relative;
    width: 100px;
    height: 300px;
    top: 0;
    left: 0;
    object-fit: cover;
}
.apropos
{
    background-color:  green;
    background-attachment: fixed;
    background-size: cover;
}

.menu
{
    background-color: greenyellow;
}

.Expert
{
    background-color: greenyellow;
}